fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy
psycopg[binary]
elasticsearch==8.12.0
python-dotenv
httpx
langchain
google-generativeai
langchain-google-genai
python-nmap
shodan
vt-py
supabase
langchain-groq
apscheduler
